html {
  box-sizing: border-box;
}

:root {
  --gap: 30px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Light"), url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"), url("../fonts/OpenSansSemiBold.woff2") format("woff2"), url("../fonts/OpenSansSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn__reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.section__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
}

.section__descr {
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section__offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

.btn {
  position: relative;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #3172b9;
  color: white;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}
.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: inherit;
  border: 1px solid #71A7E2;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.btn:focus::after {
  opacity: 1;
}
.btn:hover {
  background-color: #71A7E2;
}
.btn:active {
  background-color: #0E3B6C;
}
.btn:active::after {
  opacity: 0;
}

.section__items {
  --offsets: 3;
  gap: var(--gap);
  flex-wrap: wrap;
}

.section__item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.section__item:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}

.section__list {
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap);
}

.article {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  height: 100%;
}

.article__link {
  position: relative;
  width: 100%;
  transition: background 0.3s ease-in-out;
}
.article__link:focus {
  background: #71A7E2;
  outline: none;
}
.article__link:hover {
  background: #3172B9;
}
.article__link:active {
  background: #0E3B6C;
}

.article__image {
  object-fit: cover;
}

.article__text {
  padding: 30px;
}

.article__time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}
.article__link:focus .article__time {
  color: #fff;
}
.article__link:hover .article__time {
  color: #fff;
}

.article__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
  transition: color 0.3s ease-in-out;
}
.article__link:focus .article__title {
  color: #fff;
}
.article__link:hover .article__title {
  color: #fff;
}

.article__descr {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  max-width: 210px;
  transition: color 0.3s ease-in-out;
}
.article__link:focus .article__descr {
  color: #fff;
}
.article__link:hover .article__descr {
  color: #fff;
}

.burger {
  display: none;
}

/*header*/
.header {
  padding: 36px 0;
  border-bottom: 1px solid #C4C4C4;
  background-color: white;
}

.nav__link {
  position: relative;
  font-weight: 600;
  color: #1C1C1C;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
}
.nav__link:focus {
  outline-offset: 3px;
  outline: 1px solid #71A7E2;
}
.nav__link:hover {
  color: #71A7E2;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474BA;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.nav__link:active {
  color: #3172B9;
  outline: none;
}
.nav__link:active::after {
  opacity: 1;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

/*hero*/
.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  }

.hero__descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.hero__secure {
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  background-image: url("../img/hero-1.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 17px;
  padding-left: 30px;
}

/*services*/
.services {
  border-bottom: 1px solid #dadada;
}

.section__title_services {
  text-align: center;
}

.section__descr_services {
  text-align: center;
}

.item__icon {
  fill: #3172B9;
  margin-bottom: 25px;
  transition: fill 0.3s ease-in-out;
}
.section__item:hover .item__icon {
  fill: #fff;
}

.item__title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
  transition: color 0.3s ease-in-out;
}
.section__item:hover .item__title {
  color: #fff;
}

.item__descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}
.section__item:hover .item__descr {
  color: #fff;
}

/*articles*/
.articles {
  border-bottom: 1px solid #dadada;
}

.section__item_articles {
  padding: 0;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  border: none;
}

/*clients*/
.clients {
  border-bottom: 1px solid #dadada;
}

.section__list_clients {
  flex-wrap: wrap;
  --offsets: 2;
  gap: var(--gap);
}

.section__item_clients {
  flex-direction: column;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  transition: none;
}
.section__item_clients:hover {
  border: 1px solid #e4e4e4;
  background-color: inherit;
}

.item__descr_clients {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  text-align: left;
}
.section__item:hover .item__descr_clients {
  color: #787878;
}

.user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 28px;
}

.user__avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.user__avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.user__name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.user__post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/*contacts*/
.contacts {
  border-bottom: 1px solid #dadada;
}

.adress {
  font-style: normal;
}

.adress__list {
  flex-wrap: wrap;
  --offsets: 2;
  gap: var(--gap);
}

.adress__item {
  flex-direction: column;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.adress__location {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  max-width: 370px;
  background-image: url("../img/location.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.adress__item_phone {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  max-width: 370px;
  background-image: url("../img/phone.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.adress__item_mail {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  max-width: 370px;
  background-image: url("../img/mail.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.adress__caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.adress__text {
  margin: 0;
  max-width: 214px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.adress__link {
  display: inline-block;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}
.adress__link:focus {
  outline: 1px solid #71A7E2;
}
.adress__link:hover {
  color: #71A7E2;
}
.adress__link:active {
  outline: none;
  color: #0E3B6C;
}

/*join-us*/
.join-us {
  border-bottom: 1px solid #dadada;
}

.section__title_join-us {
  text-align: center;
}

.section__descr_join-us {
  text-align: center;
  margin-bottom: 30px;
}

/*form*/
.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form__input {
  border: 1px solid #DADADA;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 15px 28px;
  width: 251px;
  height: 60px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.form__input:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}
.form__input:hover {
  border-color: #71A7E2;
}
.form__input:active {
  border-color: #0E3B6C;
}

.form__select {
  border: 1px solid #DADADA;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 15px 28px;
  width: 251px;
  height: 60px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.form__select:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}
.form__select:hover {
  border-color: #71A7E2;
}
.form__select:active {
  border-color: #0E3B6C;
}

.form__textarea {
  border: 1px solid #DADADA;
  border-radius: 20px;
  box-sizing: border-box;
  resize: none;
  padding: 15px 28px;
  width: 100%;
  height: 100%;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.form__textarea:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}
.form__textarea:hover {
  border-color: #71A7E2;
}
.form__textarea:active {
  border-color: #0E3B6C;
}

.form__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form__left {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px;
}

.form__right {
  width: 49%;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__bottom {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form__check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form__check input {
  margin-right: 8px;
}

.form__check a {
  color: #3172B9;
  border-bottom: 1px solid #3172B9;
}

/*footer*/
.footer {
  padding: 42px 0;
}

.footer__copy {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.nav__link_footer {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
  transition: color 0.3s ease-in-out;
}
.nav__link_footer:focus {
  outline-offset: 3px;
  outline: 1px solid #71A7E2;
}
.nav__link_footer:hover {
  color: #71A7E2;
}
.nav__link_footer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474BA;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.nav__link_footer:active {
  color: #3172B9;
  outline: none;
}
.nav__link_footer:active::after {
  opacity: 1;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__left,
.footer__right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.nav__item_footer:not(:last-child) {
  margin-right: 28px;
}

.footer__nav {
  margin-right: 56px;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}

.social__link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
.social__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}


.social__tw {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}
.social__tw:hover {
  fill: #71A7E2;
}
.social__tw:active {
  fill: #3172B9;
  ;
}

.social__linkedin {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}
.social__linkedin:hover {
  fill: #71A7E2;
}
.social__linkedin:active {
  fill: #3172B9;
}

.social__mail {
  stroke: #000;
  transition: stroke 0.3s ease-in-out;
}
.social__mail:hover {
  stroke: #71A7E2;
}
.social__mail:active {
  stroke: #3172B9;
}




